@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = User.IsInRole("Administrator");
}

<nav class="navbar navbar-expand-lg mb-auto rounded-2" style="background-color: #e3f2fd;" w-100>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@Localizer["Dashboard"]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dashboardNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dashboardNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="navbar-text">
                        @Localizer["Company"]: @user.Company | @Localizer["Role"]: @(isAdmin ? "Administrator" : "Read Only")
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="~/js/dropdown-submenu.js" asp-append-version="true"></script>
